.card-container{
    width:90%;
    border: solid 2px #CCC;
    border-radius: 8px;
    padding: .5rem;
    margin: 0 auto 1rem;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin-inline: 1rem;
    aspect-ratio: 16 / 9;
}

.video-responsive iframe {
    height: 90%;
    width: 90%;
    aspect-ratio: 16 / 9;
}

.video-title{
    margin-top: 0;
}