.card-container{
    width:40%;
    border: solid 2px #CCC;
    border-radius: 8px;
    padding: 1rem;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    margin-inline: 20px;
}

.video-responsive iframe {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    width: 100%;
}