.link-item {
    font-weight : bold;
    display     : inline-block;
    color       : var(--primary);
}

.link-item:hover {
    border-bottom: 2px solid #FFF;
    color: #FFF;
    transform: scale(1.2)
}