.navbar {
    height           : 5rem;
    background-color : var(--background);
    display          : flex;
    justify-content  : space-between;
    align-items      : center;
    padding-inline: 2rem;
}

.navbar .logo {
    height        : 4rem;
    transform : rotate(45deg);
}