:root {
    --primary    : #222;
    --background : #FF9595;
    --emphasis   : #EAEBEC;
}

*{
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    margin-bottom: 1rem;
}

.App {
    text-align: center;
}

body{
   background-image: repeating-radial-gradient(circle at center, #111 0px, #111 5px, #555 5px, #555 6px) ;
}