:root {
    --primary    : #222;
    --background : #FF9595;
    --emphasis   : #EAEBEC;
}

*{
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    margin-bottom: 1rem;
}

.App {
    text-align: center;
}
